body {
    background-color: rgb(204, 249, 228);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input{
    background-color: rgb(255, 255, 181);
    border-color: black;
    border-radius: 5px;
    margin:10px;
    padding:5px;
}

.greeting{
    font-size: 2em;
}

p {
    background-color: rgb(255, 45, 45);
    color: white;
    padding: 15px;
    margin:5px;
    border-radius: 20px;
    border-color: green;
    border-style: dashed;
}
